.section-users {
    display: flex;
    flex-direction: column;
    background-image: url("./public/background.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }