.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  #vimeo-video {
    position: absolute;
    top: 15%;
    left: 50%;
    width: 310%;
    height: 100%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    object-fit: cover;
    z-index: -1;
  }
  .overlay {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 55%;
  background: linear-gradient(to top, rgba(0,0,0,0%), rgb(0,.9,.9,80%));
  z-index: -1;
  }

  .logo > img {
    top: 0;
    width: 90%;
    will-change: filter;
    transition: filter 300ms;
  }
  
  .logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
  }
  .logo.vanilla:hover {
    filter: drop-shadow(0 0 2em #f7df1eaa);
  }